@import url(estilos/principal.css);
@import url(estilos/opcoes.css);
@import url(estilos/meu_funeral.css);
@import url(estilos/botao.css);
@import url(estilos/header.css);
@import url(estilos/outro_funeral.css);
@import url(estilos/contato.css);


:root{
    --cor-de-fundo:#EBECEE;
    --branco: #FFFFFF;
    --laranja:#EB9800;
    --azul-degrade: linear-gradient(97.54deg,#002f52 35.40%, #326589 165.37%);
    --preto:#000000;
    --fonte-principal:'Ms Madi', cursive;
    --fonte-sub_titulo:'Italiana', serif;
    --azul: #002F52;
    --fonte-secundaria:'Josefin Sans', sans-serif;
    --cinza:#474646;
    --cinza-claro:#858585;
   
}

html, body {
    margin: 0;
    padding: 0;
    height:100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(imagens/fundo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Define o tamanho da imagem de fundo para telas maiores */
@media (min-width: 768px) {
    body {
        background-size: 80%; /* Reduza o tamanho da imagem para 80% da tela */
    }
}

/* Define o tamanho da imagem de fundo para telas ainda maiores */
@media (min-width: 1200px) {
    body {
        background-size: 60%; /* Reduza o tamanho da imagem para 60% da tela */
    }
}



