.pagina_02 {
    background-image: url("/imagens/fundo_02.svg");
    /* Outras propriedades de estilo para a página 2 */
    align-items: center;
    display: flex; /* Torna a página um flex container */
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
}

/* Estilos para o título */
.titulo_principal {
    font-family: var(--fonte-principal);
    font-size: 40px;
    color: var(--branco);
    text-align: center; /* Centraliza o texto horizontalmente */
}

/* Estilos para a div "funeral" */
.funeral, .meu__funeral {
    margin: 20px; /* Adiciona espaços em volta da div */
    font-family: var(--fonte-principal);
    font-size: 30px;
    align-items: center;
}

/* Estilos para o título secundário */
.t1tulo_02 {
    align-items: center;
}
