.pagina_02{
    background-image: url("../imagens/fundo_02.svg");
    /* Outras propriedades de estilo para a página 2 */
    align-items: center;
    display: flex; /* Torna a página um flex container */
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
    
}
.pagina__planejar{
    border: 2px solid white;
    margin: 20px;
    border-radius: 15px;
    

}

/* Estilos para o título */
.titulo_principal {
    font-family: var(--fonte-principal);
    font-size: 25px;
    color: var(--branco);
    text-align: center; /* Centraliza o texto horizontalmente */
}

/* Estilos para a div "funeral" */
.funeral, .meu__funeral {
    margin: 20px; /* Adiciona espaços em volta da div */
    font-family: var(--fonte-principal);
    font-size: 12px;
    align-items: center;
    background-color: rgba(148, 142, 142, 0.5);
    border-radius: 15px;
}

/* Estilos para o título secundário */
.t1tulo_02 {
    margin: 20px; /* Adiciona espaços em volta da div */
    font-family: var(--fonte-principal);
    color:rgb(255, 251, 251);
    font-size: 25px;
    align-self: center;
    display: block;
    text-align: center; /* Centraliza o texto horizontalmente */
    padding: 10px 10px;
    border: 2px solid white;
    background-color: rgba(148, 142, 142, 0.8); /* Cor de fundo com opacidade */
}
.botao__entrar{
    width: 40px;
    height: 30px;
    
}
